<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.srtp.nursinghome">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_enurse"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".avater"/>
        <activity android:name=".BasicActivity"/>
        <activity android:name=".BioMeasuren"/>
        <activity android:name=".CalendarActivity"/>
        <activity android:name=".DataRecording"/>
        <activity android:name=".EnterActivity" />
        <activity android:name=".Health2Activity"/>
        <activity android:name=".HealthActivity"/>
        <activity android:name=".HomePage"/>
        <activity android:name=".IDSetting"/>
        <activity android:name=".MessageActivity" />
        <activity android:name=".nurse_book_write"/>
        <activity android:name=".nurse_notebook"/>
        <activity android:name=".nurse_notebook_read"/>
        <activity android:name=".nurse_notebook_read_supple"/>
        <activity android:name=".nurse_record_calendar"/>
        <activity android:name=".nurse_record_form"/>
        <activity android:name=".PersonalCenter"/>
        <activity android:name=".SearchActivity"/>
        <activity android:name=".WorkTodoActivity"/>



    </application>

</manifest>